body{
    background-color: darkgreen;
    text-align: center;
}

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
     font-size: 30px;
     
}

#players{
    margin-left: auto;
    margin-right: auto;
}