body{
    background-color: olivedrab;
    text-align: center;
}
h1{
    color:  white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
     font-size: 25px;
     
}

#players{
    margin-left: auto;
    margin-right: auto;
}